body{
    background: #3b3251 url("../../assets/images/source.gif") center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.MuiToolbar-root-39 {
    background: url("http://www.ownwallpaper.com/ownpic/b/82/828909_cloudy-sky-wallpaper.jpg") 50%;
    width: 100%;
    height: 100%;
}

.fb {
    font-size: 32px;
    margin: -3px -4px;
}

img {
    height: 35px;
    width: 35px;
}

button {
    margin-left: 12px;
}

.fb-btn {
    border: 0;
    background: #eee;
}
.fb-btn:hover {
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
}

a:hover {
    text-decoration: none;
}